tests/tov/* linguist-generated=true
tests/grid_functions/* linguist-generated=true
tests/horizons/* linguist-generated=true
tests/horizons/diagnostics/* linguist-generated=true
tests/gwsample/* linguist-generated=true
tests/tov/SIMFACTORY/run/* linguist-generated=true
tests/tov/output-0000/SIMFACTORY/* linguist-generated=true
tests/tov/output-0001/SIMFACTORY/* linguist-generated=true
