[tool.poetry]
name = "kuibit"
version = "1.4.0-dev0"
description = "Read and analyze Einstein Toolkit simulations."
authors = ["Gabriele Bozzola <gabrielebozzola@email.arizona.edu>"]
maintainers = ["Gabriele Bozzola <gabrielebozzola@email.arizona.edu>"]
license = "GPL-3.0-or-later"
readme = "README.md"
homepage = "https://github.com/sbozzolo/kuibit"
repository = "https://github.com/sbozzolo/kuibit"
documentation = "https://sbozzolo.github.io/kuibit"

[tool.poetry.urls]
"Bug Tracker" = "https://github.com/sbozzolo/kuibit/issues"

[tool.poetry.dependencies]
python = "^3.8, <3.11"
numpy = "^1.21.0"
scipy = "^1.8.0"
h5py = "^3.0.0"
numba = { version = "^0.55.1", optional = true }
ConfigArgParse = "^1.2.3"
matplotlib = "^3.5.0"
motionpicture = "^0.2.0"
argcomplete = "^1.12.3"
tikzplotlib = "^0.9.13"
py-expression-eval = "^0.3.14"

[tool.poetry.dev-dependencies]
lalsuite = { version = "^6.77", optional = true }
pycbc = { version = "^1.16.10", optional = true }
black = "^22.3.0"
coverage = "^6.3"
Sphinx = "^4.4.0"
jupyter = "^1.0.0"
mayavi = "^4.7.4"
jedi = "^0.18.1"
snakeviz = "^2.1.0"
nbsphinx = "^0.8.6"
isort = "^5.10.0"
flake8 = "^4.0.0"
mypy = "^0.931"
sphinx-autodoc-typehints = "^1.17.0"
sphinxcontrib-citations = "^0.1.0"

[tool.poetry.extras]
full = ["numba", "lalsuite", "pycbc"]

[tool.black]
line-length = 79
exclude = '''
/(
    \.git
  | docs
)/
'''

[tool.isort]
profile = "black"
multi_line_output = 3

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
