name: Publish

on: [push]

jobs:

  Publish:
    runs-on: ubuntu-latest
    if: startsWith(github.ref, 'refs/tags/')

    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 1

      - name: Set up Python 3.7
        uses: actions/setup-python@v2
        with:
          python-version: 3.7

      - name: Install Poetry
        uses: snok/install-poetry@v1.1.0
        with:
          virtualenvs-create: true
          virtualenvs-in-project: true

      - name: Load cached Poetry virtualenv
        uses: actions/cache@v2
        id: cached-poetry-dependencies
        with:
          path: .venv
          key: venv-${{ runner.os }}-${{ hashFiles('**/poetry.lock') }}

      - name: Build
        run: poetry build

      - name: Publish to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          password: ${{ secrets.PYPI_API_TOKEN }}

      - name: Create example tarball
        run: tar cvzf examples.tar.gz examples/

      # What we do here is print everything before the second occurent of the
      # word Version. This is going to be the release message.
      - name: Create changelog entry
        run: |
          awk -v N=2 '{print}/Version/&&--N<=0{exit}' NEWS.md | head -n -2 | tail -n +3 > ${{ github.workflow }}-CHANGELOG.txt

      - name: Release
        uses: softprops/action-gh-release@v1
        with:
          files: examples.tar.gz
          body_path: ${{ github.workflow }}-CHANGELOG.txt
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
