name: Test

on: [push]

jobs:

  Test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        # python-version: [ '3.6', '3.9' ]
        python-version: [ '3.6' ]

    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 1

      - name: Set up Python 3.6
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install Poetry
        uses: snok/install-poetry@v1
        with:
          virtualenvs-create: true
          virtualenvs-in-project: true

      - name: Load cached Poetry virtualenv
        uses: actions/cache@v2
        id: cached-poetry-dependencies
        with:
          path: .venv
          key: venv-${{ runner.os }}-${{ hashFiles('**/poetry.lock') }}

      - name: Install Dependencies
        run: |
          poetry run pip3 install "vtk==8.1.2"
          poetry run pip3 install numpy
          poetry run pip3 install mayavi
          poetry install -E full
          poetry run pip3 install "vtk==8.1.2"
        if: steps.cached-poetry-dependencies.outputs.cache-hit != 'true'

      - name: Tests and produce coverage
        continue-on-error: true
        run: |
          xvfb-run poetry run coverage run -m unittest discover
          poetry run coverage xml

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v2
        if: runner.python-version == '3.6'
        with:
          file: coverage.xml
          flags: unittests
          env_vars: OS,PYTHON
          fail_ci_if_error: true
